ANSIBLE_USER=root
ANSIBLE_SSH_PRIVATE_KEY_FILE=./secrets/your_key.pem

INCEPTION_DEPLOY_DIR=/opt/inception
DATA_PATH=/root/data
SSL_PATH=/opt/inception/secrets/ssl

DOMAIN_NAME=localhost

# MariaDBDB
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wp_user
MYSQL_PASSWORD=

# WordPress
WP_TITLE=Cloud-1
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=
WP_ADMIN_EMAIL=
WP_USER=wp_editor
WP_USER_PASSWORD=
WP_USER_EMAIL=

# Database host (Docker service name)
DB_HOST=mariadb:3306