[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = False
forks = 10
strategy = free
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
